@use '../variables.scss';

#graph {
  align-self: center;
}

.toggles {
  align-self: center;
}

div.toggle {
  color: variables.$primary-text-color;
  display: flex;
  flex-direction: column;
  align-self: center;
}

button.toggle {
  height: 20px;
  width: 35px;
  align-self: center;
}